# Build results
bin/
obj/
out/
build.log

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Rider / JetBrains
.idea/
*.DotSettings.user

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/

# Test results
TestResults/
*.trx
*.coverage
coverage/

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper

# Logs
*.log
logs/
